<html>
<head>
	<title>Student</title>
</head>
<body>
	<div>
	<a href="/home/student_login"><font size="35">Student</font></a>
	</div>
	<div>
	<a href="/home/admin"><font size="35">Admin</font></a>
	</div>
</body>
</html>
